*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
	
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../workoutpicture.jpg);
	height: 100vh;
	background-size: cover;
	background-position: bottom;
}

ul{
	float: right;
	list-style-type: none;	
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: black;
}

ul li.active a{
	background-color: #fff;
	color: black;
}

.logo img{
	float: left;
	width: 110px;
	height: auto;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 20%;
	left: 27%;;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #FE92F3;
	font-size: 200%;
}

.description{
	position: absolute;
	top: 35%;
	left: 27%;
	transform: translate(-50%,-50%);
	text-align: center;

}

.dtn{
	padding: 10px 200px;
	color:#fff;
	text-decoration: none;
	font-size:20px;
}

.title2{
	position: absolute;
	top: 20%;
	left: 73%;
	transform: translate(-50%,-50%);
}

.title2 h1{
	color: #FE92F3;
	font-size: 200%;
}

.description2{
	position: absolute;
	top: 36%;
	left: 73%;
	transform: translate(-50%,-50%);
}

.dtn2{
	padding: 0px 0px;
	color:#fff;
	text-decoration: none;
	font-size:20px;
	text-align: center;
}

.youtubevid1{
		position: absolute;
	top: 75%;
	left: 27%;
	transform: translate(-50%,-50%);
}

.youtubevid2{
		position: absolute;
	top: 75%;
	left: 73%;
	transform: translate(-50%,-50%);
}

